<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Matrícula</title>
        <link rel="stylesheet" type="text/css" href="../static/css/paginasPrincipales.css" th:href="@{/css/paginasPrincipales.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body class="fondo">

<!---- CABECERA / HEADER -------------------------------------------->
		
		<header th:replace="~{fragmentos/header::header}"></header>
		
<!------------------------------------------------------------------->
		
<!---- MENÚ NAVEGABLE / NAVBAR -------------------------------------->
		    
		<nav th:replace="~{fragmentos/navUsuario::nav}"></nav>
		
<!-------------------------------------------------------------------->

        <div class="container-fluid d-flex w-100 p-0">

<!---- SECCIÓN DE ANUNCIOS / ASIDE ---------------------------------->
			
			<aside th:replace="~{fragmentos/asideUsuario::aside}"></aside>
			
<!------------------------------------------------------------------->

<!---- CONTENIDO PRINCIPAL / MAIN ------------------------------------>

            <main class="m-3 p-5 bg-white" style="flex: 1 1 81%; width: 75%; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                

    <!---- DATOS DEL ALUMNO ---------------------------------------------->
    
                <form method="post" th:action="@{/usuario/nuevoAlumno/submit}" th:object="${alumno}" class="w-100">
                    <fieldset class="justify-content-center border border-black border-3">

                        <th:block th:if="alumno.segundoApellido != null">
                            <legend class="fw-bold border border-black border-3 border-start-0 border-end-0 border-top-0 text-white px-2 mb-3 bg-success">MATRÍCULA DE: <span style="text-transform: uppercase;" th:text="${datosAlumno.nombre + ' ' + datosAlumno.primerApellido + ' ' + datosAlumno.segundoApellido}"></span></legend>
                        </th:block>
                        <th:block th:if="alumno.segundoApellido == null">
                            <legend class="fw-bold border border-black border-3 border-start-0 border-end-0 border-top-0 text-white px-2 mb-3 bg-success">MATRÍCULA DE: <span style="text-transform: uppercase;" th:text="${datosAlumno.nombre + ' ' + datosAlumno.primerApellido}"></span></legend>
                        </th:block>


                        <div class="mx-3 mb-3">
		
		<!---- DATOS ESCOGIDOS ------------------------------------------------>
		
                            <input th:if="${alumno.id!=0}" type="hidden" name="id" th:field="*{id}"/>

							<div class="W-100">
					            <label for="datos" class="fw-bold">DATOS VERIFICADOS DEL ALUMNO<span class="text-danger"> *</span></label><br>
					            <select class="form-select form-select-sm" style="height: 60%;" name="datos" id="datos" th:field="*{datos}" aria-readonly="true">
					    
								    <th:block th:if="${datosAlumno.segundoApellido != null}">
                                        <option th:value="${datosAlumno.id}" th:text="${datosAlumno.nombre} + ' ' + ${datosAlumno.primerApellido} + ' ' + ${datosAlumno.segundoApellido}" selected></option>
                                    </th:block>
                                    <th:block th:if="${datosAlumno.segundoApellido == null}">
                                        <option th:value="${datosAlumno.id}" th:text="${datosAlumno.nombre} + ' ' + ${datosAlumno.primerApellido}" selected></option>
                                    </th:block>

					            </select>
					        </div>
		
		<!-------------------------------------------------------------------->
		
        <!---- EDAD Y CURSO -------------------------------------------------->

							<div class="mx-0 mt-3 w-100">
								<label for="curso" id="curso" class="fw-bold">CURSO<span class="text-danger"> *</span></label><br>
			      	           	<div class="d-flex flex-wrap w-100 mt-1">
									<div th:each="curso : ${listaCursos}" class="col-3 form-check pe-5 py-1">
										<input type="radio" class="form-check-input border border-1 border-black" th:field="*{curso}" th:value="${curso.id}" th:text="${curso.nombre}" required> 
								  	</div>
								
								</div>
                            </div>

        <!------------------------------------------------------------------->

        <!---- ACTIVIDADES COMPLEMENTARIAS ------------------------------------------------------>

                            <div class="mt-3">
                                <p class="m-0 fw-bold">ACTIVIDADES COMPLEMENTARIAS</p>
                                <div class="d-flex flex-wrap w-100 mt-1">
									<div class="col-3 form-check pe-5 py-1" th:each="actividad : ${listaActividades}">
										<input type="checkbox" class="form-check-input border border-1 border-black" th:field="*{horario}" th:value="${actividad.id}" th:text="${actividad.nombre + ' (' + #numbers.formatDecimal(actividad.precio,1,2,'COMMA') + ' €)'}"> 				
									</div>
                                </div>
                            </div>
							
							
							<div class="mt-4">
								<h3>EL PRECIO BASE DE LA MATRÍCULA ES DE: <span th:text="${#numbers.formatDecimal(alumno.precioMatricula,1,2,'COMMA') + ' €'}"></span></h3>
							</div>

        <!-------------------------------------------------------------------->

                        </div>
                    </fieldset>

    <!-------------------------------------------------------------------->

                    <div class="mt-3 px-0 w-100">
                        <button type="submit" class="btn border border-2 border-black btn-success w-100 mt-2 mb-1 fw-bold" style="font-size: 23px;">¡MATRICULAR ALUMNO!</button>
                    </div>

                </form>

            </main>

<!-------------------------------------------------------------------->

        </div>

<!---- PIE DE PÁGINA / FOOTER ---------------------------------------->

		<footer th:replace="~{fragmentos/footer::footer}"></footer>

<!-------------------------------------------------------------------->

    </body>
</html>