
.fondo{
        background-image: url(https://img.freepik.com/vector-gratis/tema-dibujado-mano-patron-regreso-escuela_23-2148605117.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }