
.fondo{
        background-image: url(../IMG/paginaPrincipal/fondoPaginaPrincipal.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

h1, .fuenteNav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}