<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <th:block th:if="${actividad.id == 0}">
            <title>Nueva act. Complementaria</title>
        </th:block>
        <th:block th:if="${actividad.id != 0}">
            <title>Editar act. Complementaria</title>
        </th:block>

        <link rel="stylesheet" type="text/css" href="../../static/css/paginasPrincipales.css" th:href="@{/css/paginasPrincipales.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body class="fondo">

<!---- CABECERA / HEADER -------------------------------------------->

		<header th:replace="~{fragmentos/header::header}"></header>

<!------------------------------------------------------------------->

<!---- MENÚ NAVEGABLE / NAVBAR -------------------------------------->
    
		<nav th:replace="~{fragmentos/navAdmin::nav}"></nav>

<!-------------------------------------------------------------------->

        <div class="container-fluid w-100 d-flex p-0">

<!---- SECCIÓN DE ANUNCIOS / ASIDE ---------------------------------->

			<aside th:replace="~{fragmentos/asideAdmin::aside}"></aside>

<!------------------------------------------------------------------->

<!---- CONTENIDO PRINCIPAL / MAIN ------------------------------------>

            <main class="m-3 p-5 bg-white" style="flex: 1 1 81%; width: 75%; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                

    <!---- FORMULARIO DE AGREGAR / EDITAR -------------------------------->

                <form method="post" th:action="${actividad.id!=0} ? @{/admin/actividades/editarActividad/submit} : @{/admin/actividades/nuevaActividad/submit}" th:object="${actividad}" class="w-100">
                    <fieldset class="justify-content-center border border-black border-3">

                        <th:block th:if="${actividad.id == 0}">
                            <legend class="fw-bold border border-black border-3 border-start-0 border-end-0 border-top-0 text-white px-2 mb-3 bg-success">DATOS DE LA NUEVA&ensp;ACTIVIDAD COMPLEMENTARIA</legend>
                        </th:block>
                        <th:block th:if="${actividad.id != 0}">
                            <legend class="fw-bold border border-black border-3 border-start-0 border-end-0 border-top-0 text-white px-2 mb-3" style="background-color: rgb(210, 122, 2);">EDITANDO DATOS DE LA ACTIVIDAD: <span style="text-transform: uppercase;" th:text="*{nombre}"></span></legend>
                        </th:block>

                        <div class="mx-3 mb-3">

                            <input th:if="${actividad.id!=0}" type="hidden" name="id" th:field="*{id}"/>

                            <div class="d-flex w-100">
                                <div class="w-100" style="flex: 1 1 50%;">
                                    <label for="nombre" class="form-label m-0 fw-bold">NOMBRE<span class="text-danger"> *</span></label><br>
                                    <input type="text" th:field="*{nombre}" class="form-control" name="nombre" id="nombre" placeholder="Introduzca el nombre de la actividad" required maxlength="100" size="50">
                                </div>

                                <div class="w-100 ms-3" style="flex: 1 1 50%;">
                                    <label for="precio" class="form-label m-0 fw-bold">PRECIO EN LA MATRÍCULA (€)<span class="text-danger"> *</span></label><br>
                                    <input class="w-100" style="height: 37px;" type="number" th:field="*{precio}" name="precio" id="precio" placeholder="Introduzca el precio de la actividad" min="0" step="0.01" required>
                                </div>
                            </div>

                            </br>

                        </div>
                    </fieldset>

                    <th:block th:if="${actividad.id == 0}">
                        <div class="mt-3 px-0 w-100">
                            <button type="submit" class="btn border border-2 border-black btn-success w-100 mt-2 mb-1 fw-bold" style="font-size: 23px;">GUARDAR</button>
                        </div>
                    </th:block>
                        
                    <th:block th:if="${actividad.id != 0}">
                        <div class="mt-3 px-0 w-100">
                            <button type="submit" class="btn border border-2 border-black btn-success w-100 mt-2 mb-1 fw-bold" style="font-size: 23px; background-color: rgb(210, 122, 2);">GUARDAR CAMBIOS</button>
                        </div>
                    </th:block>

                </form>

    <!-------------------------------------------------------------------->

            </main>

<!-------------------------------------------------------------------->

        </div>

<!---- PIE DE PÁGINA / FOOTER ---------------------------------------->

		<footer th:replace="~{fragmentos/footer::footer}"></footer>

<!-------------------------------------------------------------------->

    </body>
</html>