<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cursos</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/paginasPrincipales.css" th:href="@{/css/paginasPrincipales.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body class="fondo">

<!---- CABECERA / HEADER -------------------------------------------->

		<header th:replace="~{fragmentos/header::header}"></header>


        <!--header id="inicio">
			<img src="../static/img/general/headerParenteller.png" th:src="@{/img/general/headerParenteller.png}" alt="Cabecera de la página" class="img-fluid w-100">
		</header-->

<!------------------------------------------------------------------->

<!---- MENÚ NAVEGABLE / NAVBAR -------------------------------------->
    
		<nav th:replace="~{fragmentos/navAdmin::nav}"></nav>


        <!--nav class="navbar navbar-expand-sm bg-warning sticky-top border border-2 border-start-0 border-end-0 border-black">
			<div class="container-fluid">
				<a class="navbar-brand" href="#inicio"><img src="../static/img/general/logoParenteller.png" th:src="@{/img/general/logoParenteller.png}" width="160px" alt="Logo de Parenteller"></a>
		    	<ul class="nav justify-content-end align-items-center" style="font-size: 18px;">
					<li class="nav-item"><a class="nav-link text-black fw-bold estiloNavItem" href="../admin/alumnosAdmin.html" th:href="@{/admin/alumnos}"><i class="bi bi-person-fill"></i>&ensp;ALUMNOS</a></li>
					<li class="nav-item"><a class="nav-link text-black fw-bold estiloNavItem" href="../admin/profesoresAdmin.html" th:href="@{/admin/profesores}"><i class="bi bi-mortarboard-fill"></i>&ensp;PROFESORES</a></li>
					<li class="nav-item"><a class="nav-link text-black fw-bold estiloNavItem" href="../admin/cursosAdmin.html" th:href="@{/admin/cursos}"><i class="bi bi-bookmarks-fill"></i>&ensp;CURSOS</a></li>

		        	<!--li class="nav-item"><a class="nav-link text-black fw-bold estiloNavItem me-3" href="perfilUsuario.html" th:href="@{/usuario/miPerfil}"><i class="bi bi-file-earmark-bar-graph-fill"></i>&ensp;MI PERFIL</a></li-->
		        	<!--li class="nav-item flex-fill text-center"><a href="inicioDeSesion.html"><button type="button" class="btn btn-info text-dark border-dark border-2 fw-bold ms-3">CERRAR SESIÓN</button></a></li-->
		   		
					<!--div class="dropdown ms-3">
						<button class="btn btn-dark text-white dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">CUENTA&nbsp;&nbsp;</button>
				
						<ul class="dropdown-menu dropdown-menu-end border border-2 border-black">
							<div class="mb-4 mt-2 px-3"><div sec:authorize="isAuthenticated()">
								<!--h5 class="text-center">¡Hola, Ángel!<span sec:authentication="username"></span></h5> 
							</div>	
								
							<li style="width: 350px;"><form th:action="@{/logout}" method="POST" id="logoutForm"><a class="dropdown-item flex-fill text-center"><button type="button" class="btn btn-info text-dark border-dark border-2 fw-bold w-100"><i class="bi bi-door-open-fill"></i>&ensp;CERRAR SESIÓN</button></a></form></li>
						</ul>
					</div>
			
				</ul>
			</div>
		</nav-->


<!-------------------------------------------------------------------->

        <div class="container-fluid w-100 d-flex p-0">

<!---- SECCIÓN DE ANUNCIOS / ASIDE ---------------------------------->

			<aside th:replace="~{fragmentos/asideUsuario::aside}"></aside>


            <!--aside class="m-3 border border-3 border-white" style="flex: 1 1 19%; background-color: grey; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
		
                <div class="container-fluid p-2 my-3 border border-3 border-white" style="width: 90%; background-color: darkred;">
                       <p class="m-0 text-center fw-bold text-center text-white" style="font-size: 20px;">OBSERVACIONES</p>
                   </div>
            
                 <div class="bg-white container-fluid p-2 my-3" style="width: 90%;">
                    <p class="m-0 pt-2 p-1"><strong>Durante:</strong><br>Aula Matinal</p>
                      <p class="m-0 pt-2 p-1"><strong>Profesor:</strong><br>Juan María Crocante Perez</p>
                      <p class="m-0 pt-2 p-1"><strong>Alumno:</strong><br>Lucas Falla Urtiaga</p>
                      <p class="m-0 pt-2 p-1"><strong>Fecha:</strong><br>18/10/2024 a las 18:03</p>
                      <p class="m-0 pt-2 p-1"><strong>Mensaje:</strong><br>Ha pegado a un niño en el recreo.</p>
                </div>
            
                  <div class="bg-white container-fluid p-2 my-3" style="width: 90%;">
                    <p class="m-0 pt-2 p-1"><strong>Durante:</strong><br>Comedor</p>
                      <p class="m-0 pt-2 p-1"><strong>Profesor:</strong><br>Juan María Crocante Perez</p>
                     <p class="m-0 pt-2 p-1"><strong>Alumno:</strong><br>Lucas Falla Urtiaga</p>
                    <p class="m-0 pt-2 p-1"><strong>Fecha:</strong><br>23/10/2024 a las 14:35</p>
                     <p class="m-0 pt-2 p-1"><strong>Mensaje:</strong><br>Ha vomitado la comida.</p>
                </div>
            
            </aside-->


<!------------------------------------------------------------------->

<!---- CONTENIDO PRINCIPAL / MAIN ------------------------------------>

            <main class="m-3 px-5 pt-4 pb-5 bg-white" style="flex: 1 1 81%; width: 75%; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                
                <div class="py-0 my-4 w-100 ">
                    <a type="button" th:href="@{/admin/cursos/nuevoCurso}" href="agregarEditarCursosAdmin.html" class="btn btn-success text-white fw-bold py-2 w-100" style="font-size: 25px;"><i class="bi bi-sign-intersection-fill m-0"></i>&ensp;AÑADIR CURSO</a>
                </div>

                <table class="border border-2 border-black w-100 text-center rounded-3">
                    <thead class="bg-warning">
                        <tr class="fw-bold border border-2 border-black text-black" style="font-size: 15px;">
                            <th class="border border-black border-2" style="width: 6%;">ID</th>
                            <th style="width: 20%;">NOMBRE</th>
                            <th class="border border-black border-2 py-3" style="width: 60%;">LISTADOS</th>
                            <th class="border border-black border-2" style="width: 14%;">ADMIN</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 15px; background-color: rgb(252, 244, 199);">
						<tr th:each="curso : ${listaCursos}" class="border-2 border-bottom border-black">
                            <td th:text="${curso.id}" class="border border-black border-2"></td>
                            <td th:text="${curso.nombre}" class="py-3 px-2"></td>
                            <td class="py-2 px-3 border border-black border-2">
								<div class="d-flex w-100">
	                                <div class="py-0" style="flex: 1 1 50%;">
	                                    <a type="button" href="../formularioEnvioDeDatos.html" class="btn btn-primary text-white fw-bold w-100">ALUMNOS</a>
	                                </div>
	                                <div class="py-0 ms-3" style="flex: 1 1 50%;">
	                                    <a type="button" href="profesoresAdmin.html" th:href="@{/admin/cursos/profesores/{id}(id=${curso.id})}" class="btn btn-danger text-white fw-bold w-100">PROFESORES</a>
	                                </div>
								</div>
                            </td>
                            <td class="py-2 px-3 border border-black border-2 bg-opacity-25 bg-black">
								<div class="d-flex w-100">
	                                <div class="py-0" style="flex: 1 1 50%">
	                                    <a type="button" href="agregarEditarCursosAdmin.html" th:href="@{/admin/cursos/editarCurso/{id}(id=${curso.id})}" class="btn text-white fw-bold w-100" style="background-color: rgb(210, 122, 2);"><i class="bi bi-gear-fill" style="font-size: 20px;"></i></a>
	                                </div>
	                                <div class="py-0 ms-2" style="flex: 1 1 50%;">
	                                    <a type="button" href="cursosAdmin.html" th:href="@{/admin/cursos/borrarCurso/{id}(id=${curso.id})}" class="btn text-white fw-bold w-100" style="background-color: rgb(218, 63, 3);"><i class="bi bi-trash-fill" style="font-size: 20px;"></i></a>
	                                </div>
								</div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </main>

<!-------------------------------------------------------------------->

        </div>

<!---- PIE DE PÁGINA / FOOTER ---------------------------------------->

		<footer th:replace="~{fragmentos/footer::footer}"></footer>

<!-------------------------------------------------------------------->

    </body>
</html>