<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profesores</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/paginasPrincipales.css" th:href="@{/css/paginasPrincipales.css}"> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body class="fondo">

<!---- CABECERA / HEADER -------------------------------------------->

		<header th:replace="~{fragmentos/header::header}"></header>

<!------------------------------------------------------------------->

<!---- MENÚ NAVEGABLE / NAVBAR -------------------------------------->
    
		<nav th:replace="~{fragmentos/navAdmin::nav}"></nav>

<!-------------------------------------------------------------------->

        <div class="container-fluid w-100 d-flex p-0">

<!---- SECCIÓN DE ANUNCIOS / ASIDE ---------------------------------->

			<aside th:replace="~{fragmentos/asideAdmin::aside}"></aside>

<!------------------------------------------------------------------->

<!---- CONTENIDO PRINCIPAL / MAIN ------------------------------------>

            <main class="m-3 px-5 pt-4 pb-5 bg-white" style="flex: 1 1 81%; width: 75%; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                
				
			<!-- MENSAJE DE ERROR -------------------------------------------------------------------------------------------------------------------------------->
								
				<div class="alert alert-primary alert-dismissible fade show" role="alert" th:if="${param.error}">
					<strong><i class="bi bi-exclamation-triangle-fill text-primary"></i>&ensp;¡NO SE PUEDEN BORRAR LOS PROFESORES QUE APAREZCAN EN ALGUNA OBSERVACIÓN!</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
					
			<!---------------------------------------------------------------------------------------------------------------------------------------------------->
				
				
				
                <div class="py-0 my-4 w-100 ">
                    <a type="button" th:href="@{/admin/profesores/nuevoProfesor}" class="btn btn-success text-white fw-bold py-2 w-100" style="font-size: 25px;"><i class="bi bi-sign-intersection-fill m-0"></i>&ensp;AÑADIR PROFESOR</a>
                </div>
 
				<div class="table-responsive">
					<table class="table table-hover table-warning table-striped text-center">
						<thead class="bg-warning">
							<tr class="fw-bold text-black align-middle">
								<th class="bg-warning border-2 border-end-0 border-black">ID</th>
								<th class="bg-warning border-2 border-start-0 border-end-0 border-black">NOMBRE</th>
								<th class="bg-warning border-2 border-start-0 border-end-0 border-black">PRIMER<br>APELLIDO</th>
								<th	class="bg-warning border-2 border-start-0 border-end-0 border-black">SEGUNDO<br>APELLIDO</th>
								<th	class="bg-warning border-2 border-start-0 border-end-0 border-black">DNI</th>
								<th	class="bg-warning border-2 border-start-0 border-end-0 border-black">Nº TELÉFONO</th>
								<th	class="bg-warning border-2 border-start-0 border-end-0 border-black">CURSO</th>
								<th	class="bg-warning border-2 border-start-0 border-end-0 border-black">ENCARGADO</th>
								<th	class="bg-warning border-2 border-start-0 border-end-0 border-black">LISTADOS</th>
								<th	class="bg-warning border-2 border-start-0 border-black">ADMIN</th>
							</tr>					
						</thead>
						<tbody>
							<tr th:each="profesor : ${listaProfesores}" class="align-middle">
								<td th:text="${profesor.id}" class="border-2 border-end-0 border-black py-3 px-2"></td>
								<td th:text="${profesor.nombre}" class="border-2 border-start-0 border-end-0 border-black py-3 px-2"></td>
								<td	th:text="${profesor.primerApellido}" class="border-2 border-start-0 border-end-0 border-black py-3 px-2"></td>
								<td th:text="${profesor.segundoApellido}" class="border-2 border-start-0 border-end-0 border-black py-3 px-2"></td>
								<td th:text="${profesor.dni}" class="border-2 border-start-0 border-end-0 border-black py-3 px-2"></td>
								<td th:text="${profesor.numTelefono}" class="border-2 border-start-0 border-end-0 border-black py-3 px-2"></td>
								<td th:text="${profesor.curso.nombre}" class="border-2 border-start-0 border-end-0 border-black py-3 px-2"></td>
								<td th:text="${profesor.encargado.nombre}" class="border-2 border-start-0 border-end-0 border-black py-3 px-2"></td>
								<td class="border-2 border-start-0 border-end-0 border-black py-2 px-3">
									<div class="text-center align-middle">
										<div class="py-0">
											<a type="button" th:href="@{/admin/profesores/curso/{id}/actividad/{idA} (id=${profesor.curso.id}, idA=${profesor.encargado.id})}" class="btn btn-primary text-white fw-bold w-100">ALUMNOS</a>
										</div>
										<div class="mt-2 py-0">
											<a type="button" th:href="@{/admin/profesores/observaciones/{id}(id=${profesor.id})}" class="btn btn-danger text-white fw-bold w-100">OBSERVACIONES</a>
										</div>
									</div>
								</td>
								<td class="border-2 border-start-0 border-black py-2 px-3">
									<div class="text-center align-middle">
										<div class="py-0">
											<a type="button" href="agregarEditarProfesoresAdmin.html" th:href="@{/admin/profesores/editarProfesor/{id}(id=${profesor.id})}" class="btn text-white fw-bold w-100" style="background-color: rgb(210, 122, 2);"><i class="bi bi-gear-fill"></i></a>
										</div>
										<div class="mt-2 py-0">
											<button type="button" data-bs-toggle="modal" data-bs-target="#modalBorrado" th:data-id="${profesor.id}" class="btn text-white fw-bold w-100" style="background-color: rgb(218, 63, 3); font-size: 20px;"><i class="bi bi-trash-fill"></i></button>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>


	<!-- MODAL DE CONFIRMACIÓN DE BORRADO -------------------------------------------------------------------------------------------------------------------------------------------------------------->
							

				<div class="modal fade" id="modalBorrado" tabindex="-1" aria-labelledby="modalBorradoLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header" style="background-color: rgb(218, 63, 3);">
								<h1 class="modal-title fs-5 fw-bold text-white" id="modalBorradoLabel"><i class="bi bi-exclamation-diamond-fill"></i>&ensp;CONFIRMACIÓN&ensp;<i class="bi bi-exclamation-diamond-fill"></i></h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p class="m-0">¿SEGURO QUE QUIERE <span class="fw-bold" style="color: rgb(218, 63, 3);">ELIMINAR</span> AL PROFESOR SELECCIONADO?<br>TAMBIÉN SE <span class="fw-bold" style="color: rgb(218, 63, 3);">ELIMINARÁN TODAS SUS OBSERVACIONES</span>.<br><br><span class="fw-bold">¿DESEA CONTINUAR?</span></p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
								<a type="button" id="confirmarEliminar" class="btn fw-bold text-white" style="background-color: rgb(218, 63, 3);">¡ADIÓS PROFESOR!</a>
							</div>
						</div>
					</div>
				</div>

				
	<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

            </main>

<!-------------------------------------------------------------------->

	<!-- LIBRERÍAS NECESARIAS PARA EL MODAL DE CONFIRMACIÓN DE BORRADO ------------------------------------------------------------>
	
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

			<script src="../../static/js/modalBorrarProfesores.js" th:src="@{/js/modalBorrarProfesores.js}" defer></script>

	<!---------------------------------------------------------------------------------------------------------------------------->

        </div>

<!---- PIE DE PÁGINA / FOOTER ---------------------------------------->

		<footer th:replace="~{fragmentos/footer::footer}"></footer>

<!-------------------------------------------------------------------->

    </body>
</html>