<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<body>
		
		<footer class="text-center text-lg-start text-white" style="background-color: rgb(255, 140, 0);">
			<div class="container p-4 pb-0">
				
		   		<section>   
		        	<div class="row">    
		
		          		<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">    
		               		<h6 class="text-uppercase mb-4 font-weight-bold">Parenteller</h6>
		                 	<p>Si  necesita más información consulte las diferentes opciones o regístrese e inicie sesión para rellenar un formulario y así poder matrícular a su hijo o hija.</p>
		             	</div>                
		
		        		<hr class="w-100 clearfix d-md-none" />
		             
		         		<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
		   		      		<h6 class="text-uppercase mb-4 font-weight-bold">Dirección y contactos</h6>
		                 	<p><i class="bi bi-house-fill"></i>&ensp;Calle Cartagena 37, 30420, Calasparra (Murcia)</p>
		                	<p><i class="bi bi-envelope-fill"></i>&ensp;parenteller@gmail.edu</p>
		                	<p><i class="bi bi-telephone-fill"></i>&ensp;+34 721 087 985</p>
		           		</div>
		             
		        	</div>
		      	</section>
				
		      	<hr class="my-3">
		             
		   		<section class="p-3 pt-0">
		 			<div class="row d-flex align-items-center">
		             
		        		<div class="col-md-7 col-lg-8 text-center text-md-start">
		      				<div class="p-3">© 2024 Copyright: <a class="text-white" rel="nofollow" href="#inicio">PARENTELLER</a></div>
		           		</div>
		                          
		      			<div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
		             		<a href="https://es-es.facebook.com/" class="btn btn-outline-light btn-floating m-1 estiloRedesSociales"><i class="bi bi-facebook"></i></a>
		                  	<a href="https://twitter.com/home" class="btn btn-outline-light btn-floating m-1 estiloRedesSociales" role="button"><i class="bi bi-twitter-x"></i></a>
		                 	<a href="https://www.instagram.com/" class="btn btn-outline-light btn-floating m-1 estiloRedesSociales" role="button"><i class="bi bi-instagram"></i></a>      
		                	<a href="https://www.tiktok.com/" class="btn btn-outline-light btn-floating m-1 estiloRedesSociales" role="button"><i class="bi bi-tiktok"></i></a>
		            	</div>
		             
		          	</div>
		  		</section>
				
			</div>
		</footer>
		
	</body>
</html>