<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<body>
		
		<aside class="m-3 border border-3 border-dark bg-warning" style="flex: 1 1 19%; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
		
			<div class="container-fluid p-2 my-3 border border-3 border-warning bg-dark" style="width: 90%;">
		   		<p class="m-0 text-center fw-bold text-white" style="font-size: 20px;">OBSERVACIONES</p>
		   	</div>
		
			<div class="container-fluid">
				<div class="row d-flex justify-content-center">
			
					<div class="card p-3 m-2 border border-black border-2" style="width: 18rem; background-color: rgb(184, 219, 254);" th:each="observacion : ${listaAsideAdmin}">
						
						<div class="card-body border border-black border-1 p-2 bg-white">
							<th:block th:if="${observacion.alumno.segundoApellido != null}">
								<p class="card-title m-0"><span class="fw-bold">ALUMNO:<br></span><span th:text="${observacion.alumno.nombre} + ' ' + ${observacion.alumno.primerApellido} + ' ' + ${observacion.alumno.segundoApellido}"></span></p>
							</th:block>
							<th:block th:if="${observacion.alumno.segundoApellido == null}">
								<p class="card-title m-0"><span class="fw-bold">ALUMNO:<br></span><span th:text="${observacion.alumno.nombre} + ' ' + ${observacion.alumno.primerApellido}"></span></p>
							</th:block>
						</div>
						
						<div class="card-body">
							<a type="button" th:href="@{/admin/observaciones/alumno/{id}(id=${observacion.alumno.id})}" class="btn btn-primary text-white fw-bold w-100">DATOS DEL ALUMNO</a>
						</div>
						
						<ul class="list-group border border-0 list-group-flush mb-3">
							<li class="list-group-item border border-black border-1 p-2"><span class="fw-bold">DURANTE:<br></span><span th:text="${observacion.actividad.nombre}"></span></li>
							<th:block th:if="${observacion.profesor.segundoApellido != null}">
								<li class="list-group-item border border-black border-1 p-2"><span class="fw-bold">PROFESOR:<br></span><span th:text="${observacion.profesor.nombre} + ' ' + ${observacion.profesor.primerApellido} + ' ' + ${observacion.profesor.segundoApellido}"></span></li>
							</th:block>
							<th:block th:if="${observacion.profesor.segundoApellido == null}">
								<li class="list-group-item border border-black border-1 p-2"><span class="fw-bold">PROFESOR:<br></span><span th:text="${observacion.profesor.nombre} + ' ' + ${observacion.profesor.primerApellido}"></span></li>
							</th:block>
							<li class="list-group-item border border-black border-1 p-2"><span class="fw-bold">FECHA:<br></span><span th:text="${#temporals.format(observacion.fechaObservacion, 'dd/MM/yyyy HH:mm')}"></span></li>
						</ul>
						
						<div class="card-body border border-black border-1 bg-white mt-0 p-2">
							<p class="card-text"><span class="fw-bold">MENSAJE:<br></span><span th:text="${observacion.mensaje}"></span></p>
						</div>
									  
						<div class="card-body pb-0">
							<div class="d-flex text-center align-middle justify-content-center w-100">
								<div class="py-0 w-100">
									<a type="button" href="agregarEditarObservacionesAdmin.html" th:href="@{/admin/observaciones/editarObservacion/{id}(id=${observacion.id})}" class="btn text-white fw-bold w-100" style="background-color: rgb(210, 122, 2);"><i class="bi bi-gear-fill" style="font-size: 20px;"></i></a>										
								</div>
								<div class="ms-2 py-0 w-100">
									<a type="button" href="observacionesAdmin.html" th:href="@{/admin/observaciones/borrarObservacion/{id}(id=${observacion.id})}" class="btn text-white fw-bold w-100" style="background-color: rgb(218, 63, 3);"><i class="bi bi-trash-fill" style="font-size: 20px;"></i></a>
								</div>
							</div>
						</div>
						
					</div>
									
				</div>
			</div>
		
			<br>
		
		</aside>
		
	</body>
</html>