<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<body>
	
		<aside class="m-3 bg-warning" style="flex: 1 1 15%; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
	
			<div class="bg-white bg-opacity-50 container-fluid p-2 my-3" style="width: 90%;">
				<a href="https://www.elperiodico.com/es/sociedad/20240216/nuevo-cierre-escolar-barcelona-sant-francesc-xavier-poble-sec-98247926" class="text-black" style="text-decoration: none;">
					<img src="../static/img/general/imagenNoticia1.jpg" th:src="@{/img/general/imagenNoticia1.jpg}" alt="Imagen de niños pintando en una pizarra" width="100%">
					<p class="m-0 pt-2 p-1 text-center">Nuevo cierre de una escuela en Barcelona: el Sant Francesc Xavier no continuará el curso que viene.</p>
				</a>
			</div>
	
			<div class="bg-white bg-opacity-50 container-fluid p-2 my-3" style="width: 90%;">
				<a href="https://www.elperiodico.com/es/sociedad/20240409/catalunya-apuesta-reforzar-enfoque-competencial-100822852" class="text-black" style="text-decoration: none;">
					<img src="../static/img/general/imagenNoticia2.jpg" th:src="@{/img/general/imagenNoticia2.jpg}" alt="Imagen de la entrada decorada de una clase" width="100%">
					<p class="m-0 pt-2 p-1 text-center">Educació introducirá el curso que viene un programa para mejorar las matemáticas y la comprensión lectora.</p>
				</a>
			</div>
	
			<div class="bg-white bg-opacity-50 container-fluid p-2 my-3" style="width: 90%;">
				<a href="https://www.elperiodico.com/es/sociedad/20240318/prohibir-jugar-balon-recreo-colegios-99628631" class="text-black" style="text-decoration: none;">
					<img src="../static/img/general/imagenNoticia3.jpg" th:src="@{/img/general/imagenNoticia3.jpg}" alt="Imagen de niños hablando en el recreo" width="100%">
					<p class="m-0 pt-2 p-1 text-center">¿Se debería prohibir jugar al balón en el recreo?</p>
				</a>
			</div>
	
			<div class="bg-white bg-opacity-50 container-fluid p-2 my-3" style="width: 90%;">
				<a href="https://www.elperiodico.com/es/viladecans/20240311/quien-es-inversor-chino-millonario-salvado-colegio-viladecans-teide-99153317" class="text-black" style="text-decoration: none;">
					<img src="../static/img/general/imagenNoticia4.jpg" th:src="@{/img/general/imagenNoticia4.jpg}" alt="Imagen de gente con el inversor chino" width="100%">
					<p class="m-0 pt-2 p-1 text-center">Así es el misterioso y millonario inversor chino que ha salvado una escuela de Viladecans.</p>
				</a>
			</div>
	
		</aside>

	</body>
</html>