<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<body>
		
		<nav class="navbar navbar-expand-sm bg-warning sticky-top border border-2 border-start-0 border-end-0 border-black">
			<div class="container-fluid">
				<a class="navbar-brand" href="#inicio"><img src="../static/img/general/logoParenteller.png" th:src="@{/img/general/logoParenteller.png}" width="160px" alt="Logo de Parenteller"></a>
		    	<ul class="nav justify-content-end align-items-center" style="font-size: 18px;">
		        	<li class="nav-item"><a class="nav-link text-black fw-bold estiloNavItem" href="alumnosUsuario.html" th:href="@{/usuario/alumnos}"><i class="bi bi-person-fill"></i>&ensp;ALUMNOS</a></li>
		        	<li class="nav-item"><a class="nav-link text-black fw-bold estiloNavItem" href="../agregarEditarAlumnos.html" th:href="@{/usuario/matricula}"><i class="bi bi-file-earmark-text-fill"></i>&ensp;RELLENO Y ENVÍO DE MATRÍCULA</a></li>
					<li class="nav-item"><a class="nav-link text-black fw-bold estiloNavItem" href="../agregarEditarAlumnos.html" th:href="@{/usuario/observaciones}"><i class="bi bi-bell-fill"></i>&ensp;OBSERVACIONES</a></li>
					<div class="dropdown ms-3">
						<button class="btn btn-dark text-white dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">CUENTA&nbsp;&nbsp;</button>
				
						<ul class="dropdown-menu dropdown-menu-end border border-2 border-black">
							<div class="my-2 px-3">
								<h5 class="text-center">¡Hola, <span sec:authentication="name"></span>!</h5> 
							</div>	
								
							<li style="width: 350px;"><a class="dropdown-item flex-fill text-center" href="perfilUsuario.html" th:href="@{/usuario/miPerfil}"><button type="button" class="btn btn-warning text-dark border-dark border-2 fw-bold w-100"><i class="bi bi-person-vcard-fill"></i>&ensp;MI PERFIL</button></a></li>
							<li style="width: 350px;"><form th:action="@{/logout}" method="post" id="logoutForm"><a class="dropdown-item flex-fill text-center"><button type="submit" class="btn btn-info text-dark border-dark border-2 fw-bold w-100"><i class="bi bi-door-open-fill"></i>&ensp;CERRAR SESIÓN</button></a></form></li>
						</ul>
					</div>
			
				</ul>
			</div>
		</nav>
		
	</body>
</html>