.fondo{
        background-image: url(../img/general/fondoPaginas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

.estiloNavItem:hover{
    background-color: white;
}

/*aside{
	max-height: 100vh;
	overflow-y: auto;
}*/